.videoConts {
  // margin-top: 80px;
  padding: 40px;
}

// .video__view {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 30px;

//   .video {
//     width: 69%;
//     height: 500px;
//     background: #fff;

//     .video__Exp {
//       font-size: 25px;
//       color: #fff;
//     }
//   }
//   .video__relation {
//     width: 29%;
//     background: #fff;
//     height: 400px;
//   }
// }

.container {
  margin: 0 auto;
}
.video__inner {
  display: flex;
  justify-content: space-between;

  .play {
    width: 100%;
    background: #aaa;
    position: relative;
    padding-bottom: 27.65%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .left {
    width: 69%;
    height: 500px;
    background: #fff;
    .desc {
      a {
        color: #ea3323;
        font-size: 18px;
      }
      h2 {
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 15px;
      }
      .channel {
        color: #e5e5e5;
      }
      .desc__box1 {
        display: flex;
        justify-content: flex-end;
        .likeCount {
          margin-right: 10px;
        }
      }
    }
  }
  .right {
    width: 29%;
    height: 600px;

    .list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        min-height: 120px;
      }

      a {
        width: 34%;

        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
      .list__box {
        width: 64%;
        color: #000;

        .list__tit {
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .list__desc {
          color: #ea3323;
        }
        .list__time {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .video__inner {
    flex-direction: column;
    .left {
      width: 100%;
    }
    .right {
      margin-top: 300px;
      width: 100%;
    }
  }
}
